.carouselItem{
    height: 300px;
    max-height: 300px;
}
.imgSize{
    height: 300px;
    width: 100%;
    object-fit:cover;
}


@media only screen and (max-width: 760px) {
    .carouselItem {
      height: 600px;
      max-height: 600px;
    }
  }

