.imageResponsive {
    min-height: 150px;
    height: 150px;
    width: 100%;
    object-fit: cover;
    padding: 1rem;
    margin: 0;
    border-bottom-right-radius: 40px;
    border-top-left-radius: 40px;
}

.card{
    max-height: 250px;
}

.card p {
  letter-spacing: .1rem  ;
  font-size: 14px;
}

.subcategoryCardImage{
    height: 100px;
    width: 100px;
    object-fit: cover;
    align-self: center;
    margin-top: 1rem;
}

.cardOnHover:hover{
    box-shadow: 2px 2px 2px 2px gray;
    color: white;
}

