
  .superNav {
    font-size:10px;
    letter-spacing: .1rem;
  }
  .topbaritem:hover {
    text-decoration: underline;
  }
  .active {
    background-color: black;
    color: aliceblue !important;
    text-decoration:underline !important;
    margin: 1rem;
  }
  .form-control {
    outline:none !important;
    box-shadow: none !important;
  }
  .bi{
    font-size: 1rem;
    padding-right: .2rem;
  }

  .logo{
    height: 40px;
    width: auto;
  }

  .nav-item:hover{
    background-color: black;
    color: white;
    text-decoration: underline;
  }

  @media screen and (max-width:760px){
    .centerOnMobile {
      text-align:center
    }
  }