.sliderImage{
    object-fit: cover;
    height: 500px;
    width: auto;
}

.sku{
  font-size: 12px;
}

@media only screen and (max-width: 760px) {
    .sliderImage {
      height: 275px;
      width: auto;
      object-fit: cover;
      align-self: center;
    }
  }
